body{

font-family:Arial;
margin:0;
background:#f4f4f4;
color:#333;

}

nav{

display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;

}

nav ul{

display:flex;
list-style:none;

}

nav li{

margin-left:20px;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;

}

.btn{

background:#ff9800;
padding:12px 25px;
border-radius:5px;
text-decoration:none;
color:white;
margin-top:20px;

}

section{

padding:60px 10%;
text-align:center;

}

.skills{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:20px;

}

.skill{

background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.project-container{

display:flex;
gap:30px;
justify-content:center;

}

.project-card{

background:white;
padding:20px;
border-radius:10px;
width:250px;
transition:0.3s;

}

.project-card:hover{

transform:translateY(-10px);
box-shadow:0 15px 40px rgba(0,0,0,0.2);

}

footer{

background:#111;
color:white;
padding:20px;

}

.dark{

background:#121212;
color:white;

}
